// config
$color-white: #FAFAFA;
$color-pure-white: #FFFFFF;
$color-light-grey: #9B9B9B;
$color-dark-grey: #5E5B69;
$color-orange: #E3CDB1;
$color-beige: #F7F1EB;
$color-grey-block: #E7E7E7;


$base-font-size: 16px;
$button-height: 3.25em;
$button-width: 15.625em;