
@import 'homepage_config';

// small screen
@media (max-width: 800px) {
  * {
	  margin-left: auto;
	  margin-right: auto;
	}
  header {
  	background-size: 80em, 35em;
  	background-position: right;
  	> div {
      margin-top: 5em;
      max-width: 100%;
      justify-content: center;
      > div {
      	max-width: 100%;
      	justify-content: flex-start !important;
      }
  	}
  }

  .announcement {
  	> img {
  	  width: 90%;
  	}
  	> * {
  	  margin-bottom: 1em;
  	}
  	
  }

  .to-hide {
    display: none;
  }

  .card {
    width: 100%;
  }

  .flex-row {
    flex-direction: column;
    text-align: center;
  }

  .flex-column {
    text-align: center;
  }

}