
@import 'homepage_config';

// header 
.header {
  display: flex;
  justify-content: center;
  width: calc(35% - 1em);
}

header {
  min-height: 35em;

  background-image: url(../img/Background-Header-Image.png);
  background-size: 100%;
  background-position: right;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;

  > div {
  	display: flex;
  	justify-content: flex-start;
  	max-width: 75%;
  	> div {
  		max-width: 50%;
  	}
  }
}
