@import 'config';

// regular (orange) button and the grey "lines"
.button-orange {
	border: 1px solid $color-orange;
	box-sizing: border-box;

	width: $button-width;
	height: $button-height;

	background-color: transparent;

	color: $color-orange;

	&::before {
		content: "See ";
		color: $color-orange;
	}

	&:hover {
	  background: linear-gradient(to right, $color-orange 49%, transparent 49%);
	}
	&:hover::before {
		color: $color-white;
	}
}

.grey-block {
	background-color: $color-grey-block;
	height: 1px;
	width: 33%;
	align-self: center;
}
