
@import 'config';

footer > *{
	height: 21.25em;
}
.bg-color-black {
	background-color: $color-black;
	color: $color-pure-white;
}
.color-black {
	color: $color-black;
}
footer p {
	color: $color-orange;
}
footer button {
	border: 1px solid $color-orange;
	box-sizing: border-box;

	width: $button-width;
	height: $button-height;

	background-color: transparent;

	color: $color-orange;
}
.flex-center {
	justify-content: center !important;
	text-align: center;
	> * {
		margin: 1em;
	}
}

footer input[type=email] {
  border: none;
  border-bottom: 1px solid $color-pure-white;
  background-color: $color-black;
}

.no-space {
	justify-content: center;
	> * {
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	
}
.color-kinda-grey {
	color: $color-kinda-grey;
}