@import 'config';

// entire page (generic tags)
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $base-font-size;
  font-family: 'Poppins';
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display';
}

section {
  padding: 5% 10%;
  background-color: $color-white;
}

ul{
  list-style-type: none;
}