@import 'config';

// entire page (generic tags)
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $base-font-size;
  font-family: 'Poppins';
  padding: 0% 10%;
  background-color: $color-white;

}

h1, h2, h3, h4 {
  font-family: 'Playfair Display';
}



ul{
  list-style-type: none;
}