
@import 'homepage_config';

// entire page (generic tags)
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $base-font-size;
  font-family: 'Poppins';
}

section {
  padding: 5% 10%;
  background-color: $color-white;
  background: linear-gradient(to bottom, $color-pure-white 50%, $color-white 50%);
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display';
}

button {
	border: 1px solid $color-orange;
	box-sizing: border-box;

	width: $button-width;
	height: $button-height;

	background-color: transparent;

	color: $color-orange;

	&::before {
		content: "See ";
		color: $color-orange;
	}

	&:hover {
	  background: linear-gradient(to right, $color-orange 49%, transparent 49%);
	}
	&:hover::before {
		color: $color-white;
	}
}

a {
  color: $color-orange;
  font-size: 1em;
}

// entire page (classes)
.check-out:before {
  content: "Check out our ";
  color: $color-light-grey;
}

.color-dark-grey {
	color: $color-dark-grey;
}


.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;

  > * {
  	margin-top: 0.5em;
  	margin-bottom: 0.5em;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grey-block {
	background-color: $color-grey-block;
	height: 1px;
	width: 33%;
	align-self: center;
}