@import 'config';

// small screen
@media (max-width: $small-screen-size) {
  * {
    margin-left: auto;
    margin-right: auto;
  }
  .to-hide {
  	display: none;
  }

  .card {
    width: 100%;
  }
}
