
@import 'config';

// announcement
.announcement {
  background: linear-gradient(to bottom, $color-beige 75%, $color-pure-white 75%) !important;
  background-color: $color-beige !important;
  padding-top: 10%;

  > * {
    margin: 1em;
  }

  > img {
    height: auto;
    width: 50%;
  }

  > div {
    justify-content: flex-start;
  }
}
