// config

$base-font-size: 16px; 				// used in global to set size of em
$small-screen-size: 800px; 			// used in media to denote when to change screen size

// colors
$color-white: #fafafa;
$color-pure-white: #fff;
$color-light-grey: #9b9b9b;
$color-dark-grey: #5e5b69;
$color-orange: #e3cdb1;
$color-beige: #f7f1eb;
$color-grey-block: #e7e7e7;
$color-black: #000;
$color-kinda-grey: #d0d0d0;

// button
$button-height: 3.25em;
$button-width: 15.625em;
