// config
$color-white: #FAFAFA;
$color-pure-white: #FFFFFF;
$color-light-grey: #9B9B9B;
$color-dark-grey: #5E5B69;
$color-orange: #E3CDB1;
$color-beige: #F7F1EB;

$base-font-size: 16px;
$button-height: 3.25em;
$button-width: 15.625em;

// entire page (generic tags)
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $base-font-size;
  background-color: $color-white;
  font-family: 'Poppins';
  max-width: calc(100% - 10em);
  margin: auto;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display';
}

.check-out:before {
  content: "Check out our ";
  color: $color-light-grey;
}

button {
	border: 1px solid $color-orange;
	box-sizing: border-box;

	width: $button-width;
	height: $button-height;

	background-color: transparent;
	color: $color-orange;
}

a {
  color: $color-orange;
  font-size: 1em;
}

// entire page (classes)
.color-dark-grey {
	color: $color-dark-grey;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;

  > * {
  	margin-top: 0.5em;
  	margin-bottom: 0.5em;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


// header / announcement
.header {
  justify-content: center;
  > * {
    width: calc(35% - 1em);
  }

  > img {
  	object-fit: scale-down;
  }
}

header {
  height: 20em;
}


.announcement {
  background-color: $color-beige;
  height: 41.875em;
}

// latest recipes / video recipes
.card {
  background-color: $color-pure-white;

  width: calc(33% - 1em);
  max-height: 24em;

  display: flex;
  flex-direction: column;
  justify-content: center;

  > * {
  	margin-top: 0.5em;
  	margin-bottom: 0.5em;
  }

  > p {
    color: $color-light-grey;
    margin: 0.5em;
  }
  > img {
  	max-height: 18.125em;
  	object-fit: fill;
  }
  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em;
  }

  > .wide-img {
  	max-height: 14.375em;
  }
}



