h3{
    color:black;
}

.flex-recipes{
    display: flex;
}

.ingredient-box{
    display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: column wrap;
  flex: auto;

  padding:0;
  margin-left: 150px;

  /*--ur figma--*/
  /*display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 269px;
height: 567px;
left: 150px;
top: 890px;
  */
}

section div h3{
    padding-top: 40px;
}

.method-box{
    display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 3;
  flex-flow: column wrap;
  flex: auto;

    width: 850px;
    height: 850px;

  /*--ur figma--*/
    /*position: absolute;
    width: 850px;
    height: 850px;
    right: 155px;
    top: 890px;*/
}

section ul{
    list-style-type: none;
}

@media (max-size: 800px) {
     div {color: pink; }
}